<h2>Congratulations</h2>
<p>User {{name}}, your order to {{companyName}} shop has been processed. You order status will now be controlled by your baker seat back relax and wait on your order.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>