<h2>Congratulations</h2>
<p>Baker {{name}}, you have a new order from {{userName}}. You are now in control of the order status for your client.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>