<h2>Welcome to Home Of Flavours</h2>
<p>Baker {{name}}, we thank your for joining the House of Flavours family. While we process your application for {{companyName}} shop on our platform, we will send you an email notification to inform you about your shop, Or you reconvene in 4 to 5 days and login in with your ID card number and password to start uploading your pastries. We thank you for trust Home of Flavours.</p>
