<h2>Suspicious Activity</h2>
<p>User {{name}}, your account has been flagged due to suspicious activity and complaints from
    bakers. Please contact the support team for help. <a href="bnyuykonghi@gmail.com">bnyuykonghi@gmail.com</a></p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>