
<h1 class=".title">Suspicious Activity</h1>
<p>Baker {{name}}, your account for {{companyName}} shop has been suspended due to suspicious activity and complaints from users. Please contact the support team for help. <a href="bnyuykonghi@gmail.com">bnyuykonghi@gmail.com</a></p>
