<h2>Welcome back {{name}}</h2>
<p>Baker {{name}}, your account for {{companyName}} shop has been restored. We thank you for your patience and trust in the HOF team and family. You can get back from where you left off, add more pastries to butter and sweeten people's lives.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>