<h2>Welcome back {{name}}</h2>
<p>User {{name}}, your account has been restored. We thank you for your patience and trust in
    the HOF team and family. You can get back from where you left off, order more and make special that day for someone's
    life.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>