<h2>We are sorry</h2>
<p>Baker {{name}}, your account for {{companyName}} shop has been unverified, we plead with you to get to our Support <a href="bnyuykonghi@gmail.co">team</a> if you think this is a mistake.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>