
<h2>Congratulations</h2>
<p>Baker {{name}}, your account for {{companyName}} shop has been verified. You can now proceed to login with you credentials (ID card number and password) and start uploading your pastries to the world.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>
