<h2>Congratulations</h2>
<p>User {{name}}, your account has been created. You can now proceed to login with you
    credentials (Email and password) and start ordering pastries from your favourite baker.</p>
<br />
<h3>Thank you for trusting Home of Flavours.</h3>